@import "tailwindcss";

:root {
  --background: #000000;
  --foreground: #ededed;
  --font-inter: "Inter", sans-serif;
  --font-outfit: "Outfit", sans-serif;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-inter);
  background-image:
    radial-gradient(circle at 50% 0%, rgba(0, 82, 255, 0.15) 0%, transparent 50%),
    linear-gradient(to right, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
    linear-gradient(to bottom, rgba(255, 255, 255, 0.05) 1px, transparent 1px);
  background-size: 100% 100%, 40px 40px, 40px 40px;
  background-attachment: fixed;
}

@layer utilities {
  .glass-panel {
    @apply bg-white/5 backdrop-blur-md border border-white/10 shadow-xl;
  }

  .text-balance {
    text-wrap: balance;
  }
}